absl-py
BeautifulSoup4~=4.11.1
datasets~=2.6.1
easynmt
fasttext-langdetect
iso-639
toml~=0.10.2
tqdm~=4.64.1
lxml~=4.9.1
pyyaml~=6.0
transformers~=4.24.0
pandas~=1.5.3
easynmt~=2.0.2
numpy~=1.23.5
yaml
